<div class="member-row" >
    <div class="member">
        <p (click)="onMemberClick()">{{ member().member.name }}</p>
        <div class="right-block">
            <div class="membership">
                @if(member().membership){
                    ({{member().membership?.visited}}/{{member().membership?.visitsNumber}}) {{member().membership?.endDate | date:'dd.MM.YY' }}
                }
                @else {
                    <button mat-raised-button color="primary" (click)="onAddMembershipClick()">+</button>
                }
            </div>
            <button mat-icon-button (click)="removeMember(member())">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
</div>