<div class="member-row" >
    <div class="member">
        <app-client-name [client]="member().member" (clientUpdate)="onClientChange()"></app-client-name>
        <div class="right-block">
            <app-membership-details 
                [membership]="member().membership"
                [client]="member().member"
                [style]="member().group.style"></app-membership-details>
            <button mat-icon-button (click)="removeMember(member())">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
</div>