@import '../../../../styles/mixins.scss';

.member-row:hover{
    @include hover;
}
.member{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .member-name{
        cursor: pointer;

        p{
            margin: 0;
        }
    }

    .right-block{
        display: flex;
        gap: 8px;
        align-items: center;

        .membership{
            cursor: pointer;
        }
    }
}