@use '../../../../styles/mixins.scss';

.member-row:hover {
    @include mixins.hover;
}

.member {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.05);

    padding-left: 4px;

    .member-name {
        cursor: pointer;
    }

    .right-block {
        display: flex;
        gap: 8px;
        align-items: center;

        .membership {
            cursor: pointer;
        }
    }
}