    <app-spinner [isLoading$]="showSpinner$"></app-spinner>
    <div class="group-dialog-content">
        <div class="field-row">
            <mat-form-field>
                <mat-label>Название</mat-label>
                <input matInput [formControl]="name">
            </mat-form-field>
            
        </div>
        <div class="field-row">
            <mat-form-field>
                <mat-label>Направление</mat-label>
                <mat-select [formControl]="style">
                    @for(style of styles; track style){
                        <mat-option [value]="style">{{style.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="field-row">
                <mat-slide-toggle [formControl]="active">Активность</mat-slide-toggle>
        </div>
        @if(group){
            <h3>Состав группы</h3>
            <app-group-members [group]="group"></app-group-members>
        }
        <div class="actions">
            <button mat-button (click)="onCloseClick()">Закрыть</button>
            <button mat-raised-button color="accent" (click)="submit()">Сохранить</button>
        </div>
    </div>