.group-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .field-row {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: space-between;
        width: 100%;

        mat-form-field {
            flex-grow: 1;
        }
    }

    h3 {
        margin: 0;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 16px
    }
}