    <div class="group-dialog-content">
        <div class="field-row">
            <mat-form-field>
                <mat-label>Название</mat-label>
                <input matInput [formControl]="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Направление</mat-label>
                <input matInput [formControl]="style">
            </mat-form-field>
        </div>
        <div class="field-row">
                <mat-slide-toggle [formControl]="active">Активность</mat-slide-toggle>
        </div>
        @if(data()?.group){
            <h3>Состав группы</h3>
            <app-group-members [group]="this.data().group"></app-group-members>
        }
        <div class="actions">
            <button mat-button (click)="onCloseClick()">Закрыть</button>
            <button mat-raised-button color="accent" (click)="submit()">Сохранить</button>
        </div>
    </div>