@import '../../styles/mixins.scss';

.styles-content{
    margin: 16px;
    @include tr-hover;

    .styles-list{
        display: flex;
        flex-direction: column;
        gap: 12px;

        margin-top: 16px;
    }
}