.styles-content{
    padding: 16px 0 16px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    .styles-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-y: auto;
    }
}