/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { 
    margin: 0; 
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; };

.fc-timegrid-slot {
    height: 3em !important; // 1.5em by default
    border-bottom: 0 !important;
}
.fc-event{
    border: 0 !important;
}

.fc-event-main{
    padding: 0 !important;
}
.fc-day-today {
    background: #2BB3BA !important;
}


.fc-toolbar-chunk{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    align-items: center;

    
}

.fc-button-group{
    margin: 0 !important;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 6px;
}
::-webkit-scrollbar-thumb{
    width: 6px;
    background-color: darkgray;
    border-radius: 6px;
}

h5{
    font-size: 14px !important;
    margin-bottom: 2px !important;
    font-weight: 500 !important;
}