<div class="style-card" (click)="onClick()">
    <app-card [header]=" style().name">
        <div class="prices">
            <div class="price">
                <h3>Базовая стоимость</h3>
                <h3>{{ style().basePrice}} RSD</h3>
            </div>
            <div class="price">
                <span>4 посещения</span>
                <span>{{ style().secondaryPrice}} RSD</span>
            </div>
            <div class="price">
                <span>Разовое</span>
                <span>{{ style().onetimeVisitPrice }} RSD</span>
            </div>
        </div>
    </app-card>
</div>