<app-spinner [isLoading$$]="isLoading"></app-spinner>
<form [formGroup]="form">
    <div class="client-dialog-content">
        <mat-form-field>
            <mat-label>Имя</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Соц Сеть</mat-label>
            <input matInput formControlName="socialMediaLink">
        </mat-form-field>
        @if(client()?.id){
        <mat-tab-group>
            <mat-tab label="Абонементы">
                <div class="memberships tab-content">
                    <app-client-memberships-list [client]="client()!">
                    </app-client-memberships-list>
                </div>
            </mat-tab>
            <mat-tab label="Разовые">
                <div class="onetme-visits tab-content">
                    @for(onetimeVisit of onetimeVisits() | async; track onetimeVisit){
                    <p>{{ onetimeVisit.date | date : "dd-MM-yy"}} {{ onetimeVisit.name }}</p>
                    }
                </div>
            </mat-tab>
        </mat-tab-group>

        }
        <div class="actions">
            <div class="left-actions">
                @if(client()?.id){
                <button mat-raised-button color="warn" (click)="onDeleteClick()">Удалить</button>
                }
            </div>
            <div class="right-actions">
                <button mat-button (click)="onCloseClick()">Закрыть</button>
                <button mat-raised-button color="accent" (click)="submit()">Сохранить</button>
            </div>
        </div>
    </div>
</form>