.dialog{
    .event-dialog-header{
        display: flex;
        justify-content: space-between;

        h1{
        margin: 0;
        padding: 0; 
        line-height: 40px;
        }

        div{
            width:150px;
            position: relative;
            span{
                position: absolute;
                bottom: 0;
                right: 0;
                line-height: 32px;
            }
        }

    }

    .fields-row{
        display: flex;
        justify-content: space-between;
        gap: 16px;
        align-items: stretch;
        .mdc-checkbox{
            padding: 0;
        }
    }

    .period{
        display: flex;
        gap: 16px;
    }

    width: 450px;
    margin: 16px;

    .input{
        width: 100%;
    }

    .actions{
        display: flex;
        justify-content: space-between;
    }

    .event-group{
        width: 100%
    }
}