<div class="members-content">
    <div class="field-row">
        <div class="add-member">
            <app-add-client (selectedClient$$)="onClientSelect($event)" [clearControl]="clearControlSubject"></app-add-client>
            <button class="add-button" mat-icon-button (click)="addMember()" [disabled]="!selectedClient">
                <mat-icon>add</mat-icon>    
            </button>
        </div>
        <div class="members-count">
            @if(members.length > 0){
                <span>Участники: {{members.length}}</span>
            }
        </div>
    </div>
    <div class="member-list">
        @for(member of members; track member){
            <div class="member-row">
                <app-member [member]="member"></app-member>
            </div>
        }
    </div>
</div>