@import '../../../../styles//mixins.scss';

.participant-content:hover .label{
    visibility: visible;
}
.participant-content .label{
    visibility: hidden;
}
.participant-content{
    .participant{
        padding: 8px;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;

        background-color: rgb(0,0,0, 0.05);
    }
}