.participant-content:hover .label {
    visibility: visible;
}

.participant-content .label {
    visibility: hidden;
}

.participant-content {
    .participant {
        padding: 4px;
        gap: 4px;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;

        background-color: rgb(0, 0, 0, 0.05);

        app-client-name {
            flex: 1;
            min-width: 0;
        }

        .right-block {
            display: flex;
            gap: 6px;
            justify-content: flex-end;
            align-items: center;
            flex-shrink: 0;
        }
    }
}