<div class="onetime-visitors-dialog">
    <div class="onetime-visitors-dialog-content">
        <div class="add-client">
            <app-add-client (selectedClient$$)="onClientSelect($event)" [clearControl]="clearControlSubject"></app-add-client>
        </div>
        <div class="visitors-list">
            @for(visitor of onetimeVisitors; track visitor){
                <app-onetime-visitor 
                    [visitor]="visitor"
                    [style]="styleSignal()">asdasd</app-onetime-visitor>
            }
        </div>
    </div>
    <div class="actions">
        <button mat-button (click)="onClose()">Закрыть</button>
    </div>
</div>