.onetime-visitors-dialog{
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 200px;

    .onetime-visitors-dialog-content{
        display: flex;
        flex-direction: column;
        gap: 16px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 6px;
        padding: 12px;
        
        .add-client{
            display: flex;
            gap: 8px;
            //justify-content: center;
            align-items: center;
        }

        .visitors-list{
            max-height: 300px;
            overflow-y: scroll; 
        }
    }
    .actions{
        display: flex;
        justify-content: flex-end;
    }
}