@import '../../styles/mixins.scss';

.groups-content{
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    .header-actions{
        display: flex;
        gap: 16px;
        align-items: center;
        flex-shrink: 0;
    }

    .groups-list{
        display: flex;
        flex-direction: column;
        gap: 6px;
        overflow-y: auto;
    }
}