@import '../../styles/mixins.scss';

.groups-content{
    margin: 16px;
    @include tr-hover;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .header-actions{
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .red{
        color: red;
    }

    .align-text-right{
        text-align: right;
    }
}