<div class="groups-content">
    <div class="header-actions">
        <button mat-stroked-button (click)="handleAddGroupClick()">Добавить</button>
        <mat-slide-toggle [formControl]="onlyActive">Только активные</mat-slide-toggle>
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox [checked]="true" disabled="true"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox [checked]="element.active" disabled="true"></mat-checkbox></td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Название</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="style">
            <th mat-header-cell *matHeaderCellDef>Направление</th>
            <td mat-cell *matCellDef="let element">{{element.style}}</td>
        </ng-container>
        <ng-container matColumnDef="counts">
            <th mat-header-cell *matHeaderCellDef>Оплата/Участники</th>
            <td mat-cell *matCellDef="let element" class="align-text-right" [class.red]="element.payedCount < element.membersCount">{{element.payedCount}}/{{element.membersCount}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="handleRowClick(row)"></tr>
    </table>
</div>