@import '../../styles/mixins.scss';

.groups-content{
    margin: 16px;
    @include tr-hover;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: auto;

    .header{
        h1{
            margin: 0;
        }
    }
    
    .header-actions{
        display: flex;
        gap: 16px;
        align-items: center;
        flex-shrink: 0;
    }

    .red{
        color: red;
    }

    .align-text-right{
        text-align: right;
    }
}