.reports-content{
    padding: 16px 0 16px 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;

    .content{
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-grow: 1;
        height: 100%;

        .controls{
            display: flex;
            flex-direction: column;
            gap: 12px;

            .date-range{
                display: flex;
                gap: 6px;
            }
        }

        .tabs{
            flex-grow: 1;
            overflow-y: auto;
            padding-right: 16px;
        }
    }
}
