.coach-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .fields {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
    }
}