<div class="dialog">
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <form [formGroup]="eventForm">
    <mat-form-field class="input event-name">
        <input matInput placeholder="Название" formControlName="name">
    </mat-form-field>

    <div class="period">
        <mat-form-field class="event-start">
            <mat-label>Event Start</mat-label>
            <mat-select  formControlName="start" >
                @for (option of timeOptions; track option){
                    <mat-option [value]="option">{{option}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="event-end">
            <mat-label>Event End</mat-label>
            <mat-select formControlName="end" >
                @for (option of timeOptions; track option){
                    <mat-option [value]="option">{{option}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div class="actions" mat-dialog-actions>
        <button mat-button (click)="onCloseClick()">Close</button>
        <button mat-raised-button color="accent" (click)="submit()">Save</button>
    </div>
    </form>
</div>