.page-header{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 16px 16px 0;
    gap: 8px;

    .mini-logo{
        display: flex;
        align-items: center;
    }

    h1{
        margin: 0;
    }
}