.coaches-content{
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 16px;

    .coaches-header{
        display: flex;
        gap: 16px;
        align-items: center;
        flex-shrink: 0;
    }

    .coaches-list{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        box-sizing: border-box;
    }
}