<div class="visitor-row">
    <div class="visitor">
        <app-client-name [client]="visitor().client"></app-client-name>
        <div class="right-block">
            <app-payment 
                [payment]="visitor().payment" 
                [paymentType]="paymentType"
                [memberId]="visitor().id"
                [onetimeVisitPrice]="style().onetimeVisitPrice"></app-payment>
            <button mat-icon-button class="remove-visitor" type="button" aria-label="Удалить участника"
                title="Удалить участника" (click)="removeVisitor()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
