.dialog{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .event-dialog-header{
        display: flex;
        justify-content: flex-end;

        div{
            width:150px;
            position: relative;
            span{
                position: absolute;
                bottom: 0;
                right: 0;
                line-height: 32px;
            }
        }

    }

    .fields-row{
        display: flex;
        justify-content: space-between;
        gap: 16px;
        align-items: stretch;
        .mdc-checkbox{
            padding: 0;
        }
    }

    .period{
        display: flex;
        gap: 16px;
    }



    .input{
        width: 100%;
    }

    .actions{
        display: flex;
        justify-content: space-between;
    }

    .fields-row.group{
        align-items: center;
    }

    .event-group{
        width: 100%;
        position: relative;
    }

    .edit-group-button{
        margin: 8px;
        cursor: pointer;
    }

    .participants{
        cursor: pointer;
        color: #2A629A;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .color-wrapper{
        .color-selector{
            width: 56px;
            height: 56px;
            border-radius: 4px;
            border: 0;
            cursor: pointer;
        }
    }
}