.dialog{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .event-dialog-header{
        display: flex;
        justify-content: flex-end;

        div{
            width:150px;
            position: relative;
            span{
                position: absolute;
                bottom: 0;
                right: 0;
                line-height: 32px;
            }
        }

    }

    .fields-row{
        display: flex;
        justify-content: space-between;
        gap: 16px;

        .mdc-checkbox{
            padding: 0;
        }
    }

    .recur{
        > .event-start,
        > .recur-checkbox{
            flex: 1
        }
    }

    .period{
        display: flex;
        gap: 16px;

        > .event-start,
        > .event-end {
            flex: 1;
        }
    }



    .input{
        width: 100%;
    }

    .actions{
        display: flex;
        justify-content: space-between;
    }

    .fields-row.group{
        align-items: center;
    }

    .event-group{
        width: 100%;
        position: relative;
    }

    .participants{
        width: 100%;
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .rent-client{
        position: relative;
        min-height: 60px;
    }

    .color-wrapper{
        .color-selector{
            width: 56px;
            height: 56px;
            border-radius: 4px;
            border: 0;
            cursor: pointer;
        }
    }
}