.participants-dialog-content {
    gap: 16px;
    display: flex;
    flex-direction: column;

    min-width: 300px;

    .attendies-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 600px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
}