<div class="participants-dialog">
    <div class="participants-dialog-content">
        <div class="attendies-list">
            @for(attendy of attendants(); track attendy){
                <app-participant [attendy]="attendy" 
                    [eventId]="data().eventId"
                    [style]="data().group?.style"></app-participant>
            }
        </div>
        <div class="actions">
            <button mat-button (click)="onClose()"> Закрыть</button>
        </div>
    </div>
</div>