.participants-dialog{
    margin: 16px;
    width: 300px;
    
}
.participants-dialog-content{
    gap: 16px;
    display: flex;
    flex-direction: column;
    .attendies-list{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
.actions{
    display: flex;
    justify-content: flex-end;
}