:host{
    width: 100%;
    height: 100%;
    display: block; 
}

.calendar-content{
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.calendar-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    flex: 0 0 auto;

    .calendar-header-right{
        display: flex;
        gap: 8px;

        .arrow-button{
            width: 48px;
            padding: 8px;

            mat-icon{
                margin: 0;
            }
        }
    }
}

.calendar {
    flex: 1;
    overflow: hidden;
}

.small-icon-button {
  width: 48px;
  height: 36px;
  line-height: 24px;
  padding: 0; // remove default padding
  mat-icon {
    font-size: 24px; // optional: shrink icon size
  }
}