.client-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .tab-content {
        margin-top: 8px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        .right-actions {
            display: flex;
            gap: 8px;
        }
    }
}