<form [formGroup]="form">
    <div class="client-dialog-content">
        <mat-form-field>
            <mat-label>Имя</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Соц Сеть</mat-label>
            <input matInput formControlName="socialMediaLink">
        </mat-form-field>
        <div class="actions">
            <button mat-button (click)="onCloseClick()">Закрыть</button>
            <button mat-raised-button color="accent" (click)="submit()">Сохранить</button>
        </div>
    </div>
</form>
