<form [formGroup]="form">
    <div class="client-dialog-content">
        <h1 mat-dialog-title>{{ data.title }}</h1>
        <mat-form-field>
            <input matInput placeholder="Имя" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Телефон" formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Соц Сеть" formControlName="socialMediaLink">
        </mat-form-field>
        <div class="actions">
            <button mat-button (click)="onCloseClick()">Закрыть</button>
            <button mat-raised-button color="accent" (click)="submit()">Сохранить</button>
        </div>
    </div>
</form>
