<app-spinner [isLoading$]="showSpinner$"></app-spinner>
<form [formGroup]="form">
    <div class="client-dialog-content">
        <mat-form-field>
            <mat-label>Имя</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Соц Сеть</mat-label>
            <input matInput formControlName="socialMediaLink">
        </mat-form-field>
        @if(data()?.id){
            <div class="memberships">
                <div class="memberships-header">
                    <h3>Абонементы</h3>
                    <button mat-raised-button color="primary" (click)="onAddMembershipClick()">+</button>
                </div>
                <div class="memberships-list">
                    @for(membership of memberships; track membership){
                        <app-membership [membership]="membership" (delete)="onMembershipDelete($event)"></app-membership>
                    }
                </div>
            </div>
        }
        <div class="actions">
            <div class="left-actions">
                @if(data()?.id){
                    <button mat-raised-button color="warn" (click)="onDeleteClick()">Удалить</button>
                }
            </div>
            <div class="right-actions">
                <button mat-button (click)="onCloseClick()">Закрыть</button>
                <button mat-raised-button color="accent" (click)="submit()">Сохранить</button>
            </div>
        </div>
    </div>
</form>
