@mixin tr-hover
{
    table {
       tr:hover {
            background-color: #CEEAF7;
            cursor: pointer;
       }
    }
}

@mixin hover{
    :hover{
        background-color: #CEEAF7;
    }
}