@import '../../styles/mixins.scss';

.clients-content{
    @include tr-hover;
    
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .header-actions{
        display: flex;
        gap: 16px;
        align-items: center;
    }
}