<div class="clients-content">
    <div class="header-actions">
        <button mat-stroked-button (click)="handleAddClientClick()">Добавить</button>
        <mat-form-field>
            <mat-label>Поиск</mat-label>
            <input matInput [formControl]="nameFilter">
            @if(nameFilter.value){
                <button matSuffix mat-icon-button (click)="nameFilter.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
    </div>
    <table mat-table #clientsTable [dataSource]="clients">
        <ng-container matColumnDef="createDate">
            <th mat-header-cell *matHeaderCellDef>Дата Создания</th>
            <td mat-cell *matCellDef="let element;">{{element.createDate | date}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Имя</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="socialMediaLink">
            <th mat-header-cell *matHeaderCellDef>Соц сеть</th>
            <td mat-cell *matCellDef="let element">{{element.socialMediaLink}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Телефон</th>
            <td mat-cell *matCellDef="let element">{{element.phone}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="handleRowClick(row)"></tr>
    </table>
</div>
