@import '../../styles/mixins.scss';

.clients-content{
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 100vh;

    .header-actions{
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .infinite-scroll{

        overflow-y: scroll;
    }
}