<div class="membership">
    <div class="left-area">
        <div class="membership-header">
            <h5 class="style">{{ membership().style != null ? membership().style?.name : 'Безлимит' }}</h5>
            <span>{{ membership().visited}}/{{visitsNumber}}</span>
        </div>
        <div class="info">
            <span class="dates">{{ membership().startDate| date:'dd.MM' }} - {{ membership().endDate | date:'dd.MM'}}. </span>
            <span class="amount">{{ membership().amount}} RSD</span>
        </div>
    </div>
    <div class="right-block">
        <button mat-icon-button (click)="onEditClick()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>