@import '../../styles/mixins.scss';

.hover-area{
    @include hover;
        
    .membership{
        margin-top: 6px;
        padding-top: 4px;
        display: flex;
        justify-content: space-between;

        border-radius: 6px;
        background-color: rgb(0, 0, 0, 0.05);
    
        padding-left: 4px;

        .left-area{
            .membership-header{
                display: flex;
                gap: 6px;
            }

            display: flex;
            flex-direction: column;

        }

        p{
            margin: 0;
        }
    }
}