@import '../../styles/mixins.scss';

.hover-area{
    @include hover;
        
    .membership{
        padding: 6px 0;
        
        display: flex;
        justify-content: space-between;

        .left-area{
            .membership-header{
                display: flex;
                gap: 6px;
            }

            display: flex;
            flex-direction: column;

        }

        p{
            margin: 0;
        }
    }
}