<app-spinner [isLoading$$]="isLoading"></app-spinner>
<div class="membership-dialog-content">
    <div class="fields-row">
        <mat-checkbox [formControl]="unlimited">
            Безлимит
        </mat-checkbox>
    </div>
    @if(!unlimited.value){
        <mat-form-field>
            <mat-label>Направление</mat-label>
            <mat-select [formControl]="style">
                @for(style of styles; track style){
                    <mat-option [value]="style">{{style.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    }
    @if(!isUnlimited()){
        <div class="fields-row">
            <mat-button-toggle-group
                [hideSingleSelectionIndicator]="true"
                [value]="visitsCount()"
                (change)="onVisitsCOuntChange($event.value)">
                <mat-button-toggle [value]="8">
                    <span>8</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="4">
                    <span>4</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group
                [hideSingleSelectionIndicator]="true"
                [value]="discountSignal()"
                (change)="onSaleChange($event.value)">
                <mat-button-toggle [value]="0">
                    <span>0%</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="20">
                    <span>20%</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="100">
                    <span>100%</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    }
    <div class="fields-row">
        <h2>Цена: {{ price() }}</h2>
        <h2 [class.payed-less]="payedAmountSignal() < price()"
            [class.payed]="payedAmountSignal() == price() && price() > 0">Оплачено: {{ payedAmountSignal() }}</h2>
    </div>
    <div class="fields-row">
        <mat-form-field>
            <mat-label>Начало</mat-label>
            <input matInput [matDatepicker]="pickerStart" [formControl]="startDate">
            <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Конец</mat-label>
            <input matInput [matDatepicker]="pickerEnd" [formControl]="endDate">
            <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
    </div>
    <mat-form-field>
        <mat-label>Комментарий</mat-label>
        <input matInput [formControl]="comment">
    </mat-form-field>
    <div class="actions">
        <div class="left-actions">
            @if(this.data().id){
                <button mat-raised-button color="warn" (click)="onDelete()">Удалить</button>
            }
        </div>
        <div class="right-actions">
            <button mat-button (click)="onClose()">Закрыть</button>
            <button mat-raised-button color="accent" (click)="onSave()">Сохранить</button>
        </div>
    </div>
</div>